@import "~bootstrap/scss/bootstrap";

@media screen and (max-width: 800px) { 
  .wrap {
    font-size: 2vw;
  }
}

.wrap {
  margin: auto;
  max-width: 800px;
}

.center {
  text-align: center;
}

.result-wrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2em;
}

.search-info {
  font-size: 2em;
  color: red;
}